body {
    background-image: url("images/abstract.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.sideNav {
    height: 100%;
    width: 75px;
    position: fixed;
    z-index: 1;
    top: 0;
    left:0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
}

.sideNav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: grey;
    display: block;
}

.fa-home:hover {
    color: #00ffff;
}

.fa-user-alt:hover {
    color: #FFFF66;
}

.fa-code:hover {
    color: #00ff99;
}

.fa-envelope:hover {
    color: #ff00ff;
}

.main {
    margin-left: 75px; 
    padding: 0px 10px; 
}

h1 {
    color: blue;
    font-size: 50px;
    text-align: center;
}

h2 {
    color:#ff8000;
    font-size: 30px;
    text-align: center;
}

@media screen and (max-height: 450px) {
    .sideNav {padding-top: 15px;}
    .sideNav a {font-size: 18px;}
  }